extends ../layout

block content
    .center_pls
        h1
            |Wow y'all really suck! Have a hint.
        form#formAddStacker(name="hintb",method="post",action="/puzzle/hintb")
            p 
                input(type='hidden',value='#{old_guess_num}',name='guess_num')
            p   
                input(type='hidden',value='milfsquad',name='password')
            p
                button#btnSubmit(type="submit") Hint B
        form#formAddStacker(name="hintp",method="post",action="/puzzle/hintp")
            p 
                input(type='hidden',value='#{old_guess_num}',name='guess_num')
            p   
                input(type='hidden',value='milfsquad',name='password')
            p
                button#btnSubmit(type="submit") Hint P
        form#formAddStacker(name="hinta",method="post",action="/puzzle/hinta")
            p 
                input(type='hidden',value='#{old_guess_num}',name='guess_num')
            p   
                input(type='hidden',value='milfsquad',name='password')
            p
                button#btnSubmit(type="submit") Hint A
        form#formAddStacker(name="hints",method="post",action="/puzzle/hints")
            p 
                input(type='hidden',value='#{old_guess_num}',name='guess_num')
            p   
                input(type='hidden',value='milfsquad',name='password')
            p
                button#btnSubmit(type="submit") Hint S
        form#formAddStacker(name="hintj",method="post",action="/puzzle/hintj")
            p 
                input(type='hidden',value='#{old_guess_num}',name='guess_num')
            p   
                input(type='hidden',value='milfsquad',name='password')
            p
                button#btnSubmit(type="submit") Hint J