extends ../layout

block content
    h1.
        Stacker ID #{stacker._id}
    form(action='/stackers/#{stacker._id}/edit',method='post',name='updatestacker',enctype='application/x-www-form-urlencoded')
        p Team: 
            input#inputTeam(type='text', value='#{stacker.team}', name='team')
        p Name: 
            input#inputName(type='text', value='#{stacker.name}', name='name') 
        p Points: 
            input#inputPoints(type='number', value='#{stacker.points}', name='points')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update
